.cta-1-container {
  background-image: url('/assets/graphics/form-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 75%;
  margin: auto;
  p {
    width:80%;
    margin: auto;
    margin-bottom: 1rem;
  }
}
