body {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}


// Typography
h1,
h2,
h3 {
  font-family     : $heading-font-family;
  margin-bottom   : $heading-default-bottom-margin;
}

h1 {
  color           : $accent-color;
  font-size       : 4rem;
  text-transform  : uppercase;
}

h2 {
  color         : $secondary-color;
  font-size     : 2.5rem;
}

h3 {
  color         : $secondary-shade;
  font-size     : 2rem;
}

a {
  font-family   : inherit;
}

p,
ol,
ul,
li,
span,
a {
  font-family    : $body-font-family;
  font-size      : 1.2rem;
  line-height    : 1.5;
}

ol,
ul {
  list-style-position: inside;
}

h1,
h2,
h3,
h4,
p,
span {
  margin-bottom: 2rem;
}

input,
button {
  border: none;
  padding: 1rem;
}

input {
  border-radius: 30px;
  width:350px;
  margin: auto;
  margin-bottom: 1rem;
  display: block;
}


// Paddings
