<section id="milestones" class="milestones center padding-lg" data-aos="fade-up">
  <h2>
    Now accepting applications!
  </h2>
  <div class="milestone-container grid-noGutter-spaceBetween">
    <div class="col-2 milestone-item">
      <div class="milestone-outer">
        <div class="milestone-inner {% if page.complete_milestone_1 %} complete {% endif %}">
          <span>
            Jun/Jul
          </span>
        </div>
      </div>
      <h3>
        Applications
      </h3>
    </div>
    <div class="col-2 milestone-item">
      <div class="milestone-outer">
        <div class="milestone-inner {% if page.complete_milestone_2 %} complete {% endif %}">
          <span>
            Aug
          </span>
        </div>
      </div>
      <h3>
        Visa Processing
      </h3>
    </div>
    <div class="col-2 milestone-item">
      <div class="milestone-outer">
        <div class="milestone-inner {% if page.complete_milestone_3 %} complete {% endif %}">
          <span>
            Sep/Nov
          </span>
        </div>
      </div>
      <h3>
        Program Launch
      </h3>
    </div>
    <div class="col-2 milestone-item">
      <div class="milestone-outer">
        <div class="milestone-inner {% if page.complete_milestone_4 %} complete {% endif %}">
          <span>
            Nov/Dec
          </span>
        </div>
      </div>
      <h3>
        Networking Event
      </h3>
    </div>
    <div class="col-2 milestone-item">
      <div class="milestone-outer">
        <div class="milestone-inner {% if page.complete_milestone_5 %} complete {% endif %}">
          <span>
            Jan/Feb
          </span>
        </div>
      </div>
      <h3>
        Demo Day
      </h3>
    </div>
  </div>
</section>
